VITE_CRM_API_URL=/api
VITE_CCP_API_URL=https://ccp-henna.vercel.app/api
VITE_CCP_CLIENT_EDIT_URL=https://ccp-henna.vercel.app/client-master?edit={id}&uniqueId={uniqueId}&name={name}
VITE_CCP_LEAD_EDIT_URL=https://ccp-henna.vercel.app/lead-generation?edit={id}&leadCode={leadCode}&name={name}
